*.pyc
*~
Makefile
Makefile.in
INSTALL
config.*
configure
aclocal.m4
autom4te.cache
*.make
bin/caribou
install-sh
missing
py-compile
caribou/ui/i18n.py
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
*.gmo
m4/intltool.m4
*.tar.gz
data/*.desktop
po/.intltool-merge-cache
data/caribou.schemas
data/caribou.schemas.in
data/org.gnome.caribou.gschema.*
depcomp
libcaribou/.deps/
caribou-enum-types.[ch]
caribou-marshal.[ch]
libtool
ltmain.sh
m4
libcaribou/.libs/
libcaribou/Caribou-1.0.gir
libcaribou/Caribou-1.0.typelib
*.lo
*.o
libcaribou/libcaribou.la
libcaribou/*.[ch]
caribou-1.0.vapi
caribou-internals-1.0.vapi
caribou-internals.h
*.stamp

