*.pyc
*~
Makefile
Makefile.in
INSTALL
config.*
configure
aclocal.m4
autom4te.cache
*.make
bin/caribou
bin/caribou-preferences
bin/antler-keyboard
install-sh
missing
py-compile
caribou/i18n.py
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
*.gmo
*.la
m4/intltool.m4
*.tar.gz
data/*.desktop
po/.intltool-merge-cache
data/*.gschema.*
depcomp
.deps/
caribou-enum-types.[ch]
caribou-marshal.[ch]
libtool
ltmain.sh
m4
.libs/
libcaribou/*.gir
libcaribou/*.typelib
*.lo
*.o
libcaribou/*.[ch]
caribou-1.0.vapi
caribou-internals-1.0.vapi
caribou-internals.h
*.stamp
data/org.gnome.Caribou.Antler.service
caribou-imcontext.[ch]
*/layouts/*/*.xml
